.App {
  text-align: center;
}

.page {
  padding-top: 1em;
}

.details hgroup {
  margin: 1em 0;
}

.details hgroup h1 {
  margin-bottom: .3rem;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.1em;
}

h3 {
  font-size: 1.1em;
  font-weight: normal;
}

tr.dates > td > span {
  display: inline-block;
  padding-right: 1em;
}

td ul:last-child, td p:last-child {
  margin-bottom: 0;
}

.counter {
  float: right;
  font-size: 90%;
}

.download {
  display: inline-block;
  margin-left: 1.5em;
  color: black;
}
