@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Rubik';
    @apply bg-neutral-100;
  }

  h1 {
    @apply text-4xl mb-1 mt-0 font-medium;
  }

  table {
    @apply -mx-4 -mb-4 flex-grow;
  }

  th {
   @apply text-left align-top p-4 text-sm font-medium;
  }

  td {
    @apply p-4 align-top;
  }

  a {
    @apply text-secondary-200;
  }

  input {
    @apply shadow appearance-none border rounded py-2 px-3 text-gray-700 mb-4;
  }
}
