@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Rubik';
    @apply bg-neutral-100;
  }

  h1 {
    @apply text-2xl mb-3;
  }

  tbody tr:nth-child(odd) {
   @apply bg-neutral-200;
  }

  th {
   @apply text-left align-bottom p-2 text-sm;
  }

  td {
    @apply p-2
  }

  a {
    @apply text-secondary-200;
  }

  input {
    @apply shadow appearance-none border rounded py-2 px-3 text-gray-700 mb-4
  }
}

th.sortable {
  @apply cursor-pointer;
}



